    <footer class="ftr" data-theme="dark" data-ftr>
      <div class="ftr__mark" aria-hidden="true">
        <span class="ftr__word">Edomotics</span>
      </div>
      <div class="ftr__body">
        <div class="ftr__cols">
          <div class="ftr__col">
            <p class="ftr__label">Find us</p>
            <p>Plot No. 126, 3rd Floor, Above SBI,<br>Road No. 11, Jubilee Hills,<br>Hyderabad 500033</p>
            <p class="ftr__label">Talk to us</p>
            <p><a class="link-u" href="tel:+919100444648">+91 910 044 4648</a><br><a class="link-u" href="mailto:info@edomotics.com">info@edomotics.com</a></p>
            <p class="ftr__label">Follow</p>
            <p><a class="link-u" href="https://www.linkedin.com/company/edomotics-smart-systems-p-ltd/" target="_blank" rel="noopener">LinkedIn</a><br><a class="link-u" href="https://www.facebook.com/Edomotics-Smart-Systems-Pvt-Ltd-483276208548445/" target="_blank" rel="noopener">Facebook</a><br><a class="link-u" href="https://twitter.com/edomotics" target="_blank" rel="noopener">Twitter</a></p>
          </div>
          <nav class="ftr__explore" aria-label="Footer">
            <p class="ftr__label">Explore</p>
            <a href="/automation/">Automation</a>
            <a href="/home-theatre/">Home theatre</a>
            <a href="/projects/">Projects</a>
            <a href="/about/">About</a>
            <a href="/#brands">Brands</a>
            <a href="/contact/">Contact</a>
          </nav>
        </div>
        <div class="ftr__legal">
          <p>© <span data-year>2026</span> Edomotics Smart Systems Pvt Ltd</p>
          <a class="link-u" href="https://edomotics.freshdesk.com/support/login" target="_blank" rel="noopener">Support portal</a>
          <a class="link-u" href="#top" data-to-top>Back to top</a>
        </div>
      </div>
    </footer>
