            <a class="pcard" href="{{url}}">
              <figure class="pcard__img"><img data-pic="{{cover}}" sizes="{{cardSizes}}" alt="{{coverAlt}}"></figure>
              <span class="pcard__meta">
                <span class="pcard__text"><span class="pcard__details">{{n}}<i class="pcard__dot" aria-hidden="true"></i>{{meta}}</span><span class="pcard__name">{{name}}</span></span>
                <span class="pcard__go" aria-hidden="true">View project<span class="ap" aria-hidden="true"><svg><use href="#i-arrow"/></svg><svg><use href="#i-arrow"/></svg></span></span>
              </span>
            </a>
